body {
  font-size: 1em;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
}
body .text {
  font-weight: 400;
  width: 350px;
  padding-top: 3rem;
  margin: 1rem auto;
  font-size: .8rem;
}
body .hamburger {
  position: fixed;
  left: 80px;
  top: 10px;
  -webkit-transition: .5s all;
  transition: .5s all;
}
body .hamburger span {
  display: block;
  width: 3rem;
  height: .4rem;
  background-color: #3D3D3D;
  margin: 5px 2px;
  border-radius: 2px;
}
body .mobileBar {
  background-color: #1b232a;
  color: white;
  padding-bottom: 100px;
  overflow: auto;
  white-space: nowrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  min-height: 400px;
  height: 100%;
  -webkit-transition: .5s all;
  transition: .5s all;
}
body .mobileBar.open {
  width: 230px;
  box-shadow: inset -5px -5px 5px #888;
}
body .mobileBar.open i.material-icons {
  padding: 0 5px 0 5px;
  font-size: 3rem;
}
body .mobileBar .item {
  height: 50px;
  display: block;
  padding: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
body .mobileBar .item:hover i.material-icons {
  padding: 0 5px 0 8px;
  text-shadow: 2px 2px #666;
}
body .mobileBar .item span {
  display: inline-block;
  vertical-align: top;
  line-height: 50px;
}
body .mobileBar i.material-icons {
  padding: 0 15px 0 5px;
  font-size: 3rem;
  -webkit-transition: .6s all;
  transition: .6s all;
}





/*background*/
.large-header {
  position: relative;
  width:100%;
  background: #333;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}
#large-header {
  background-image: url("https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg");
}
.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #f9f1e9;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.demo-1 .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}
.main-title .thin {
  font-weight: 200;
}
@media only screen and (max-width: 768px) {
  .demo-1 .main-title {
    font-size: 3em;
  }
}

/*right sidebar*/

#sideMenuFixed{
  position: fixed;
  top: 0px;
  right:0px;
  width: 200px;
  height: 100%;
  padding: 30px;
  border-right: 1px solid rgba(0,0,0,.1);
  background: #1b232a;
  z-index: 9;
}




