<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/icon?family=Material+Icons'>
  <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Lato:300,400,700'>
  <link rel="stylesheet" href="{% static 'bernard_dashboard/css/style.css' %}"/>
</head>

<body style="background-color:#252C33;">

<!-- original-->
  <div>
  <div><iframe src="ros.html" width="97%" height="620"></iframe></div>
  
<div class="mobileBar">
  <div class="item code">
    <i class="material-icons" style="color:#1565C0">code</i>
  </div>
  <div class="item">
        <i class="material-icons"><a href="home.html" style="text-decoration:none; color:aliceblue">home</a></i>
        <span>Home</span>
      </div>
    <div class="item">
      <i class="material-icons"><a href="controls.html" style="text-decoration:none; color:aliceblue">accessibility</a></i>
      <span>Controls</span>
    </div>
    <div class="item">
      <i class="material-icons"><a href="controls.html" style="text-decoration:none; color:aliceblue">visibility</a></i>
      <span>Vision</span>
    </div>
    <div class="item">
      <i class="material-icons"><a href="controls.html" style="text-decoration:none; color:aliceblue">record_voice_over</a></i>
      <span>Speech</span>
    </div>
    <div class="item">
      <i class="material-icons"><a href="controls.html" style="text-decoration:none; color:aliceblue">pan_tool</a></i>
      <span>Imitation</span>
    </div>
</div>
</div>



<!-- sidebar right-->
<div id="sideMenuFixed">
  <div background-color:rgba(255, 255, 255, 0.10); border-radius:10px; width:220px; margin-left:-10px;">
  <form style="margin:10px">
  <span style="color:aliceblue">First name:</span><br>
  <input type="text" name="firstname" value="Mickey" style="border-radius:10px; opacity:.6;">
  <br><br>
  <span style="color:aliceblue">First name:</span><br>
  <input type="text" name="firstname" value="Mickey" style="border-radius:10px; opacity:.6;">
  <br><br>
  <span style="color:aliceblue">First name:</span><br>
  <input type="text" name="firstname" value="Mickey" style="border-radius:10px; opacity:.6;">
  <br><br>
  <span style="color:aliceblue">First name:</span><br>
  <input type="text" name="firstname" value="Mickey" style="border-radius:10px; opacity:.6;">
  <br><br>
  <span style="color:aliceblue">First name:</span><br>
  <input type="text" name="lastname" value="Mouse" style="border-radius:10px; opacity:.6;">
  <br><br>
  <span style="color:aliceblue">First name:</span><br>
  <input type="text" name="lastname" value="Mouse" style="border-radius:10px; opacity:.6;">
  <br><br>
  <span style="color:aliceblue">First name:</span><br>
  <input type="text" name="lastname" value="Mouse" style="border-radius:10px; opacity:.6;">
  <br><br>
  <span style="color:aliceblue">First name:</span><br>
  <input type="text" name="lastname" value="Mouse" style="border-radius:10px; opacity:.6;">
  <br><br>
  <input type="submit" value="Submit" class="wrapper" class="button" style=" color:#252C33; border-radius:10px; width:100px; text-align:center; margin-left:25%; margin-bottom:10px">
  </form>
  </div> 
</div>



  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script src='https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/EasePack.min.js'></script>
  <script src='https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/rAF.js'></script>
  <script src='https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/TweenLite.min.js'></script>
  <script src="{% static 'bernard_dashboard/js/index.js' %}"></script>

</body>
</html>
