{% extends 'base.html' %}

{% block content %}

<style>
body {
    background-color:#1b232a;;
}
    #sliders > input {

    border-radius: 6px;
    border-color: black;
    padding: 3px;

}
</style>
 <script>


     $(function()  {

        var ros = new ROSLIB.Ros({
             url : 'ws://localhost:9090'
         });


       var jsp = new JOINTSTATEPUBLISHER.JointStatePublisher({
           ros : ros,
           divID : 'sliders'
          });

     });

 </script>
  <div>
  <div><iframe src="/ros" width="97%" height="100% "></iframe></div>
  
<div class="mobileBar">
  <div class="item code">
    <i class="material-icons" style="color:#1565C0">code</i>
  </div>
  <div class="item">
        <i class="material-icons"><a href="/home" style="text-decoration:none; color:aliceblue">home</a></i>
        <span>Home</span>
      </div>
    <div class="item">
      <i class="material-icons"><a href="/controls" style="text-decoration:none; color:aliceblue">accessibility</a></i>
      <span>Controls</span>
    </div>
    <div class="item">
      <i class="material-icons"><a href="controls.html" style="text-decoration:none; color:aliceblue">visibility</a></i>
      <span>Vision</span>
    </div>
    <div class="item">
      <i class="material-icons"><a href="controls.html" style="text-decoration:none; color:aliceblue">record_voice_over</a></i>
      <span>Speech</span>
    </div>
    <div class="item">
      <i class="material-icons"><a href="controls.html" style="text-decoration:none; color:aliceblue">pan_tool</a></i>
      <span>Imitation</span>
    </div>
</div>
</div>



<!-- sidebar right-->
<div id="sideMenuFixed"  >
  <div style=" border-radius:10px; width:220px; margin-left:-10px;color:#fff;height: 97%;overflow-y: scroll;"  id="sliders">

  </div>
</div>

{%endblock%}
