{% extends 'base.html' %}

 {% block content %}


<!-- background-->
<div id="large-header" class="large-header">
    <canvas id="demo-canvas"></canvas>
      <h1 class="main-title"><span style="color:#1565C0">B</span><span class="thin" style="color:#F57C00">ernard</span></h1>
<!-- original-->
  <div> 
<div class="mobileBar">
  <div class="item code">
    <i class="material-icons" style="color:#1565C0">code</i>
  </div>
  <div class="item">
      <i class="material-icons"><a href="/home" style="text-decoration:none; color:aliceblue">home</a></i>
      <span>Home</span>
    </div>
  <div class="item">
    <i class="material-icons"><a href = "/controls" style="text-decoration:none; color:aliceblue">accessibility</a></i>
    <span>Controls</span>
  </div>
  <div class="item">
    <i class="material-icons"><a href="controls.html" style="text-decoration:none; color:aliceblue">visibility</a></i>
    <span>Vision</span>
  </div>
  <div class="item">
    <i class="material-icons"><a href="controls.html" style="text-decoration:none; color:aliceblue">record_voice_over</a></i>
    <span>Speech</span>
  </div>
  <div class="item">
    <i class="material-icons"><a href="controls.html" style="text-decoration:none; color:aliceblue">pan_tool</a></i>
    <span>Imitation</span>
  </div>
</div>
</div>
</div>
{% endblock %}
